instudservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://producer.x-road.eu"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:id="http://x-road.eu/xsd/identifiers"
        xmlns:tns="http://producer.x-road.eu"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
        xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://producer.x-road.eu"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://x-road.eu/xsd/xroad.xsd"
                    schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
            <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd"
                    schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" />
            <xs:complexType name="fault">
                <xs:sequence>
                    <xs:element name="faultCode" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xrd:title>Fault Code</xrd:title>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="faultString" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xrd:title>Fault explanation</xrd:title>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="internStudentsService">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="AdmYear" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Admission year</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="internStudentsServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        
                        <xs:element name="StudName" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Student Name</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="BithDate" type="xs:date">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Date of birth</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Institution" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Institution</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Direction" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Direction</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Program" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Education program</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        
                        <xs:element name="AdmYear" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Admission year</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Note" type="xs:date">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Note</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="fault" type="tns:fault"
                                minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="internStudentsService">
        <wsdl:part name="internStudentsService" element="tns:internStudentsService" />
    </wsdl:message>
    <wsdl:message name="internStudentsServiceResponse">
        <wsdl:part name="internStudentsServiceResponse"
                element="tns:internStudentsServiceResponse" />
    </wsdl:message>

    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="issue" element="xrd:issue" />
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
    </wsdl:message>

    <wsdl:portType name="exampleServicePort">
        <wsdl:operation name="internStudentsService">
            <wsdl:documentation>
                <xrd:title>Title of internStudentsService</xrd:title>
                <xrd:notes>Technical notes for internStudentsService:
                        This is a simple SOAP service.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="internStudentsService" message="tns:internStudentsService" />
            <wsdl:output name="internStudentsServiceResponse"
                    message="tns:internStudentsServiceResponse" />
        </wsdl:operation>        
    </wsdl:portType>

    <wsdl:binding name="exampleServicePortSoap11" type="tns:exampleServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="internStudentsService">
            <soap:operation soapAction="internStudentsService" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input name="internStudentsService">
                <soap:body use="literal" />
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="internStudentsServiceResponse">
                <soap:body use="literal" />
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="producerPortService">
        <wsdl:port name="exampleServicePortSoap11"
                binding="tns:exampleServicePortSoap11">
            <soap:address location="http://localhost:3000/instudservice/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>